---
import { getCollection } from "astro:content";
import SheetCard from "~/components/SheetCard.astro";
import SiteHeader from "~/components/SiteHeader.astro";
import BaseLayout from "~/layouts/BaseLayout.astro";

const sheets = await getCollection("sheets");
---

<BaseLayout
  title="Sheets"
  description="Solo piano arrangements by Ky Decker, engraved using LilyPond."
  image={{
    src: "/images/og.png",
    alt: "A pink lotus flower above the text 'Sheets'.",
  }}
>
  <main>
    <SiteHeader />
    <ul class="sheet-list">
      {
        sheets.map((entry) => (
          <li>
            <SheetCard
              title={entry.data.title}
              pdfUrl={entry.data.pdfUrl}
              pngUrls={entry.data.pngUrls}
              slug={entry.data.slug}
            />
          </li>
        ))
      }
    </ul>
  </main>
</BaseLayout>

<style>
  .sheet-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }
</style>
